@model List<_4_FirstApplication.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
@{
    if (Model.Count <= 0)
    {
        <p>We don't have customer</p>
    }
    else
    {
        <table id="customer" class="table table-bordered table-hover">
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Action</th>
            </tr>
            @foreach (var customer in Model)
            {
                <tr>
                    @*<td><a href="@Url.Action("Details", "Customer",new {id=item.Id})">@item.Name</a></td>*@
                    
                    <td>
                        @Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id }, null)
                    </td>
                    <td>@customer.MembershipType.Name</td>
                    <td><button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button></td>
                </tr>
            }
        </table>
    }
}

@section scripts{
    <script>
        $(document).ready(function() {
            $("#customer .js-delete").on("click",function() {
                if (confirm("Are you delete this customer?")) {
                    var button = $(this);
                    $.ajax({
                        url: "/api/customers/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success:function() {
                            button.parents("tr").remove();
                        }
                });
                }
            });
        });
    </script>
}





